# Prisma
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb"

# Postgres Database
DATABASE_HOSTNAME=postgres_db
DATABASE_PORT=5432
DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_DB=postgres

# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=random_string

# Auth Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=

# Jwt
JWT_SECRET_KEY=random_string
JWT_EXPIRED_IN=300