{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 88,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$|^components/(.*)$",
    "^#/lib/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindConfig": "./tailwind.config.ts"
}
